<div class="chat-user-list d-flex flex-column" style="height: 100%; position: relative;" ng-controller="chatUserList">
  <div class="chat-user-list-header">
    <div class="d-flex align-items-center">

      <i class="ti ti-message fs-1"></i>
      <h3 class="ms-3" style="margin-bottom: 0; color: #fff!important;">
        Messagerie
      </h3>
    </div>
  </div>
  <div class="chat-user-list-main">
  </div>
  <button class="add-conversation-button" ng-click="addConversation()">
    <span>+</span>
  </button>
</div>