$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$theme-colors: (
       "primary":#a9d82e
);

.input-bg{
	background: rgb(240 240 240) !important;
}

.text-dark-greenlife{
	color: #676767 !important;
}

.text-greenlife{
	color: #a9d82e !important;
}

.form-check-input:checked{
	background-color: #a9d82e !important;
	border-color: #a9d82e !important;
}

.btn-primary, .btn-primary:active, .btn-primary:focus{
	background: #a9d82e !important;
	border: #a9d82e !important;
	color: black !important;
}
.congratulation-medal{
	top: 20px !important;
}

.bg-greenlife{
	background: #a9d82e !important;
	border: #a9d82e !important;
}

.card-header{
	background: #a9d82e !important;
	border: #a9d82e !important;
}

.table:not(.table-dark):not(.table-light) thead:not(.table-dark) th, .table:not(.table-dark):not(.table-light) tfoot:not(.table-dark) th{
	background: #a9d82e !important;
}