
.my-form{
	gap : 10px;
	padding-bottom: 20px;
	max-width: 600px;
	margin : 0 auto;
}
.my-form .my-form-widget{
	margin-bottom: 10px;
}
.my-form textarea.form-control{
	min-height : 200px;
}
.my-form .btn-wrap{
	display : flex;
	justify-content: flex-end;
}

.my-form input[type="date"]{
    margin-bottom: 5px;
}

.meeting-fiche{
    margin : 20px auto;
    width: 50%;
    min-width : 400px;
}
.meeting-fiche .note-row{
    height: 200px;
    overflow: auto;
}
.meeting-fiche-controls{
    margin-top : 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 10px;
    flex-wrap: nowrap;
}


.file-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* Reduce the gap between items */
    margin-top: 10px;
    /* Add space at the bottom end */
}

.file-item {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    /* Prevent wrapping */
    display: inline-block;
}

.file-name {
    margin-right: 5px;
}

.file-download {
    color: #4A148C;
}