<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations d'authentification</title>
    <style>
        
    </style>
</head>
<body>
    <p>
        <h1>Félicitation !</h1>
        <h4>Voici vos informations pour s'authentifier</h4>
        <ul class="informations">
            <li class="information-item">Id : <strong>{{user.email}}</strong></li>
            <li class="information-item">Mot de passe : <strong>{{user.plainPassword}}</strong></li>
        </ul>
    </p>

</body>
</html>
