.custom-chat .my-loader {
    animation: spin 2s linear infinite;
}

.custom-chat.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 1040;
}

.custom-chat .chat-button {
    z-index: 1050;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    background: #1976d2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 32px;
    pointer-events: initial;
}

.custom-chat .my-badge {
    position: absolute;
    top: -8px;
    right: 2px;
    color: #fff;
    background-color: #d9534f;
    padding: 0 6px;
    border-radius: 10px;
}


.custom-chat .chat-button:focus {
    border: 2px solid white;
}

.custom-chat .chat-box {
    z-index: 1052;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    /* display: flex; */
    /* flex-direction: column; */

    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    background: #1976d2;
    pointer-events: initial;
}

.custom-chat .chat-box-hidden {
    display: none;
}


.custom-chat .chat-button {
    background: #1976d2;
}

.custom-chat .chat-box {
    background: #1976d2;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .custom-chat.wrapper {
        top: auto;
        right: 0;
        width: 350px;
    }

    .custom-chat .chat-button {
        display: block;
    }

    .custom-chat .chat-box {
        top: auto;
        left: auto;
        bottom: 100px;
        right: 40px;
        height: 60%;
        width: 350px;
        border-radius: 10px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .custom-chat .chat-box {
        height: 70%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .custom-chat .chat-box {
        height: 80%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .custom-chat .chat-box {
        /*height: 80%;*/
    }
}

.custom-chat .chat-user-list .chat-user-list-header {
    padding: 10px;
    color: #fff;
}

.custom-chat .chat-user-list .chat-user-list-main {
    flex: 1;
    width: 100%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.custom-chat .chat-user-list .chat-user-avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.custom-chat .chat-user-list .chat-one-user {
    cursor: pointer;
    border-bottom: 1px solid #cacdd0;
}

.custom-chat .chat-user-list .chat-one-user.new .message-text {
    color: #2196f3;
}

.custom-chat .chat-user-list .chat-one-user .profile-name {
    color: #2196f3;
}

.custom-chat .chat-user-list .chat-one-user.selected,
.custom-chat .chat-user-list .chat-one-user:hover {
    background-color: #d3eafd;
}


.custom-chat .chat-user-list .add-conversation-button {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    background: #1976d2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 36px;
    pointer-events: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}


.custom-chat .chat-user-search-list .chat-user-list-header {
    padding: 10px;
    color: #fff;
}

.custom-chat .chat-user-search-list .chat-user-list-main {
    flex: 1;
    width: 100%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.custom-chat .chat-user-search-list .chat-user-avatar {
    height: 45px;
    width: auto;
    border-radius: 50%;
}

.custom-chat .chat-user-search-list .chat-one-user {
    cursor: pointer;
    border-bottom: 1px solid #cacdd0;
}

.custom-chat .chat-user-search-list .chat-one-user.new .message-text {
    color: #2196f3;
}

.custom-chat .chat-user-search-list .chat-one-user.selected,
.custom-chat .chat-user-search-list .chat-one-user:hover {
    background-color: #d3eafd;
}


.custom-chat .chat-user-search-list .add-conversation-button {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    background: #1976d2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 36px;
    pointer-events: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-chat .chat-user-search-list .search-input {
    background-color: transparent;
    color: #fff !important;
}

.custom-chat .chat-user-search-list .search-input::placeholder {
    color: #fff !important;
}

.custom-chat .chat-user-search-list .search-input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #fff !important;
}




.custom-chat .chat-user .chat-box-header {
    padding: 10px;
    color: #fff;
}

.custom-chat .chat-user .chat-box-main {
    flex: 1;
    width: 100%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.custom-chat .chat-user .chat-box-footer {
    color: #fff;
    height: 80px;
}

.custom-chat .chat-user .operator-name {
    margin: 0;
    padding: 1px;
}


.custom-chat .chat-user .operator-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-chat .chat-user .chat-message {
    display: block;
    width: auto;
    margin: 5px;
    align-self: flex-start;
    flex-direction: row;
    max-width: 80%;
    word-wrap: break-word;
}

.custom-chat .chat-user .chat-message-date {
    font-size: 11px;
    color: #8D898D;
    padding: 5px;
}

.custom-chat .chat-user .chat-message-from-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.custom-chat .chat-user .chat-message-text {
    margin-left: 10px;
    padding: 10px;
    border-radius: 3px;
}

.custom-chat .chat-user .chat-button-header {
    z-index: 1050;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
    background-color: inherit;
    padding: 5px 9px;
    margin-left: 5px;
}

/**
  Received message style
   */
.custom-chat .chat-user .chat-message-received {
    margin-right: 50px;
}

.custom-chat .chat-user .chat-message-received .chat-message-text {
    background: #B9D6F2;
    margin-left: 50px;
    border-bottom-left-radius: 0;
}

.custom-chat .chat-user .chat-message-received .chat-message-text:before {
    position: absolute;
    content: " ";
    left: -10px;
    bottom: 0;
    border-right: solid 10px #B9D6F2;
    border-top: solid 10px transparent;
    z-index: 0;
}

.custom-chat .chat-user .chat-message-received .chat-message-date {
    margin-left: 50px;
}

.custom-chat .chat-user .chat-message-received .chat-message-from-avatar {
    position: absolute;
    left: 0;
    bottom: -15px;
}

/**
  Sent message style
   */
.custom-chat .chat-user .chat-message-sent {
    align-self: flex-end;
}

.custom-chat .chat-user .chat-message-sent .chat-message-from {
    float: right;
}

.custom-chat .chat-user .chat-message-sent .chat-message-text {
    background: #84DCCF;
    margin-right: 50px;
    border-bottom-right-radius: 0;
}

.custom-chat .chat-user .chat-message-sent .chat-message-text:after {
    position: absolute;
    content: " ";
    right: -10px;
    bottom: 0;
    border-left: solid 10px #84DCCF;
    border-top: solid 10px transparent;
    z-index: 0;
}

.custom-chat .chat-user .chat-message-sent .chat-message-date {
    text-align: right;
    padding-right: 50px;
}

.custom-chat .chat-user .chat-message-sent .chat-message-from-avatar {
    position: absolute;
    right: 0;
    bottom: -15px;
}

@media (min-width: 576px) {
    .custom-chat .chat-user .chat-button-header {
        display: none;
    }
}

.custom-chat .chat-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}