<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <style>

    </style>
</head>
<body>
    <p>
       Chère/Cher {{data.nom}},
    </p>
    <p>
        Nous avons le plaisir de vous informer que vous faites désormais partie de la communauté Mether. Nous sommes ravis de vous accueillir parmi nous et espérons que vous trouverez de nombreuses opportunités et ressources précieuses au sein de notre réseau.
    </p>
    <p>
        Chez Mether, nous croyons fermement en la puissance de la collaboration et du partage d'idées. En rejoignant notre communauté, vous aurez accès à un réseau dynamique de professionnels passionnés, à des ressources exclusives, ainsi qu'à des opportunités d'apprentissage et de développement.
    </p>
    <p>
        Nous sommes convaincus que votre participation active enrichira notre communauté et que vous en retirerez de nombreux bénéfices. Si vous avez des questions ou besoin d'assistance, notre équipe est à votre disposition pour vous aider.
    </p>
    <p>
        À très vite,
    </p>
 

</body>
</html>
